* {
    margin: 0;
    padding: 0;
}

body {
	background-image: url('../HTML/IMG/Флаг Древней Македонии.jpg');
	background-attachment: fixed;
}

img {
	border: 3px solid white;
	margin-top: 10px;
	margin-left: 15px;
}

footer {
	margin-top: 30px;
	background-color: black;
	color: white;
	width: 100%;
	font-size: 15px;
	height: 25px;
	font-weight: bold;
	padding-top: 5px;
	text-align: center;
}